:root {
	--creme: #EAE2B7;
	--white: #FFFFFF;
	--red: #D62828;
	--blue: #003049;
	--orange: #F77F00;
	--yellow: #FCBF49;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}