.wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	background-image: url("/static/imgs/doodle.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.card-container {
	width: 500px;
	background-color: var(--blue);
	border-radius: 8px;
	padding: 30px 35px;
	position: relative;
	overflow: hidden;
}

.heading {
	text-align: center;
}

.login-text {
	margin-bottom: 4px;
}

.hide {
	position: absolute;
	left: -200vh;
	opacity: 0;
}

.input-container {
	margin-top: 45px;
}

.input-wrapper {
	position: relative;
	width: 100%;
	margin: 30px 0 0 0;
}

.forgot-pass-btn {
	margin-top: 8px;
}

.lbl {
	position: absolute;
	color: var(--black);
	opacity: 0.5;
	pointer-events: none;
	cursor: none;
	user-select: none;
	top: calc(50% - 12px);
	left: 14px;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
}

.input-wrapper input {
	width: 100%;
	padding: 8px 12px;
	border: 2px solid var(--orange);
}

.input-wrapper input:focus+.lbl {
	top: -22px;
	opacity: 1;
	color: var(--white);
}

.input-wrapper input:not(:placeholder-shown)+.lbl {
	top: -22px;
	opacity: 1;
	color: var(--white);
}

.msg-field {
	min-height: 10px;
	text-align: center;
	margin: 20px 0;
}

.msg-field[data-type=error] {
	color: #c90a0a;
}

.msg-field[data-type=success] {
	color: #37c90a;
}

.submit-btn {
	width: 100%;
	margin-bottom: 28px;
}

.signup-txt {
	text-align: center;
}

.signup-txt .btn {
	font-size: 1rem;
}

@media screen and (max-width: 520px) {
	.card-container {
		height: 100%;
		width: 100vw;
		border-radius: 0;
		padding: 30px 3vw;
		background-color: #002f49f8;
	}
}