.container {
	position: relative;
	width: 100%;
	margin: 30px 0 0 0;
}

.lbl {
	position: absolute;
	color: var(--black);
	opacity: 0.5;
	pointer-events: none;
	cursor: none;
	user-select: none;
	top: calc(50% - 12px);
	left: 14px;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
}

.input:focus+.lbl {
	top: -22px;
	opacity: 1;
	color: var(--white);
}

.levitate {
	top: -22px;
	opacity: 1;
	color: var(--white);
}

.input {
	width: 100%;
	padding: 8px 12px;
	border: 2px solid var(--orange);
}